.row{
    font-size: 20px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    font-family: arial;

}
.addbutton{
    width: 80;
    color: white;
    background-color: green;   
}
.list-css{
    width: 100%;
}
.listoutput{
    display: flex;
}
.delbutton{
    background-color: red;
    color: white;

}
